/* YeyeYeee código aquí */

body {
    background-color: #dcdcde;
}

.nav-menu {
    background-color: #3d4040;
}

.buttons-option {
    margin-top: 120px
}

.btn-option {
    margin-bottom: 10px;
    width: 90%;
    background-color: #ffa600;
}


/* icon color */

.side-nav li>a>i,
.side-nav li>a>[class^="mdi-"],
.side-nav li>a li>a>[class*="mdi-"],
.side-nav li>a>i.material-icons {
    float: left;
    height: 48px;
    line-height: 48px;
    margin: 0 32px 0 0;
    width: 24px;
    color: rgba(0, 0, 0, 0.54);
    color: #ffa600;
}

.card-profile {
    margin-top: 0;
    background-color: #ffa600;
}

.img-profile {
    margin-top: 5px;
    width: 50%;
    height: 50%;
}

.btn-mail {
    width: 80%;
    background-color: white;
    color: black;
}


/* .btn:hover,
.btn-large:hover {
    background-color: white;
} */


/* input perfil */

.form-style {
    background-color: #dcdcde;
    width: 80%;
    margin-top: 20px;
}

.btn-agregar {
    width: 85%;
    background-color: #f5a700;
    margin-top: -26px;
    color: white;
    margin-bottom: 10px;
}

.btn-bip-number {
    margin-bottom: 10px;
    width: 85%;
    background-color: white;
    color: black
}